.chip {
    &__circuit {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: 100%;
        width: 100%;

        animation-name: chip-circuit;
        animation-delay: $intro-chip-delay;
        animation-duration: $intro-chip-duration;
        animation-fill-mode: both;

        path {
            stroke: $color-text;
            stroke-width: $stroke-width-3;
            stroke-linecap: round;
        }
    }

    &__core {
        animation-name: chip-core;
        animation-delay: $intro-chip-delay;
        animation-duration: $intro-chip-duration;
        animation-fill-mode: both;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 25vh;
        height: 25vh;

        background-color: $color-text;

        border-radius: $stroke-width-3;
    }

    &__laughing-man {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        padding: 10% 6% 10% 10%;
        width: 100%;
        height: 100%;
    }
}

@keyframes chip-circuit {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
   100% {
        opacity: 0;
    }
}

@keyframes chip-core {
    0% {
        opacity: 0;
    }
    50%, 70%  {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}