.window-design-inspiration-3 {
    width: 74%;
    height: 90%;

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 7% 11% 10% 4%;
        height: 100%;
        width: 100%;
    }
}