.window-design-inspiration-4 {
    width: 90%;
    height: 87%;

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2% 7% 2% 7%;
        height: 100%;
        width: 100%;
    }
}