$color-green:           #116637;
$color-neon:            #4DAC02;
$color-red:             #D11717;
$color-black:           #0D1321;
$color-gray:            #3e4450;
$color-white:           #FFFFFF;
$color-light-gray:      #F2F2F2;
$color-laughing-man:    #23498C;
$color-blue:            #90d0fa;
$color-blue-1:          #0E7DE5;
$color-blue-2:          #041B2C;
$color-yellow:          #E0E40D;
