@mixin scrollbar($size, $foreground-color, $background-color: transparent) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: $size / 2;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
        border-radius: $size / 2;
    }

    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }

    // For Mozzila
    & {
        scrollbar-color: $foreground-color $background-color;
        scrollbar-width: thin;
    }
}