<div class="circuit-background">
    {% import "svg/parts/circuit-1.svg" as circuit1 %}
    {{ circuit1.display('circuit circuit-background__back-layer') }}
    {{ circuit1.display('circuit circuit-background__main-glow') }}
    {{ circuit1.display('circuit circuit-background__main-lines') }}
</div>