<div class="chip">
	{% include "svg/parts/circuit-3.svg" %}
	<div class="chip__core">
		{% import "svg/parts/laughing_man.svg" as laughing_man %}
        {{ laughing_man.display('chip__laughing-man') }}
	</div>
</div>
