<div class="circuit-mask">
	<div class="circuit-mask__grid">
		<div class="circuit-mask__col-5 circuit-mask__fill"></div>

		<div class="circuit-mask__col-1 circuit-mask__fill"></div>
		<div class="circuit-mask__col-1 circuit-mask__hole"></div>
		<div class="circuit-mask__col-1 circuit-mask__fill"></div>
		<div class="circuit-mask__col-1 circuit-mask__hole"></div>
		<div class="circuit-mask__col-1 circuit-mask__fill"></div>

		<div class="circuit-mask__col-2 circuit-mask__fill"></div>
		<div class="circuit-mask__col-1 circuit-mask__hole"></div>
		<div class="circuit-mask__col-2 circuit-mask__fill"></div>

		<div class="circuit-mask__col-1 circuit-mask__fill"></div>
		<div class="circuit-mask__col-1 circuit-mask__hole"></div>
		<div class="circuit-mask__col-1 circuit-mask__fill"></div>
		<div class="circuit-mask__col-1 circuit-mask__hole"></div>
		<div class="circuit-mask__col-1 circuit-mask__fill"></div>

		<div class="circuit-mask__col-5 circuit-mask__fill"></div>
	</div>
</div>
