<div class="circuit-foreground">
	{% import "svg/parts/circuit-2.svg" as circuit2 %}
    {{ circuit2.display('circuit circuit-foreground__main-glow') }}
    {{ circuit2.display('circuit circuit-foreground__main-lines') }}
</div>