<section class="window-main window object">
    {% include "svg/parts/window-1.svg" %}

    <div class="window-main__text">
        <div class="window__content">
            <div class="window__scroll">
                <h1>Hello World!</h1>
                <p>An old dream of mine came true when I started working on <a href="https://github.com/kaoquan/robert.sentes" target="_blank" title="GitHub repositorie of the project">{% include "svg/logos/github.svg" %}this project <i class="icon">open_in_new</i></a>. For a long time, I didn&apos;t have a personal website, thinking that I don&apos;t need it, it is not that important to put myself out there, or I don&apos;t have anything interesting to share. But lately, I had a change of heart, and I came to realize that it&apos;s a shame not to show some of my skills on a webpage after so many years of working as a web developer.</p>

                <h2>The Design</h2>
                <p>I always wanted to create something inspired by <a href="https://en.wikipedia.org/wiki/Ghost_in_the_Shell" title="Ghost in the Shell Wikipedia page" target="_blank">Ghost in the Shell <i class="icon">open_in_new</i></a>. The cyberpunk world of the anime is so rich and powerful, that it inspired a lot of people (e.g. Matrix), so this is my way to show my appreciation. It is not a modern and clean design resembling the websites of these days since the elements used in the page are from a moody futuristic urban universe depicted in a &apos;90s sci-fi.</p>
                <p>What I&apos;ve done is I took <a href="#design-inspiration" title="Design inspiration images from Ghost in the Shell" class="link">images from Ghost in the Shell <i class="icon">photo_library</i></a>  and transform them into <a href="https://www.w3schools.com/graphics/svg_intro.asp" target="_blank" title="Scalable Vector Graphics">{% include "svg/logos/svg.svg" %} SVG <i class="icon">open_in_new</i></a> vectors so they can be manipulated, and animated.</p>
                <p>In the end, I am a web developer and not a designer.</p>

                <h2>No js</h2>
                <p>It became a trend to use tones of js frameworks / libraries for simple projects. It doesn&apos;t make sense to me. In <a href="https://github.com/kaoquan/robert.sentes" target="_blank" title="GitHub repositorie of the project">{% include "svg/logos/github.svg" %}this project <i class="icon">open_in_new</i></a>, I wanted to have no <a href="https://www.w3schools.com/js/js_intro.asp" target="_blank" title="JavaScript">{% include "svg/logos/javascript.svg" %} JavaScript <i class="icon">open_in_new</i></a> at all to show how much can be done purely with <a href="https://www.w3schools.com/html/html_intro.asp" target="_blank" title="Hyper Text Markup Language">{% include "svg/logos/html.svg" %} HTML <i class="icon">open_in_new</i></a> and <a href="https://www.w3schools.com/css/css_intro.asp" target="_blank" title="Cascading Style Sheets">{% include "svg/logos/css.svg" %} CSS <i class="icon">open_in_new</i></a>. I had to write some minimal scripts for user tracking / statistics, cookie banner, and remembering the selected color scheme, but not for actually changing the theme which is done in CSS. The page is totaly functional without JavaScript and looks ok even if the browser loads only the HTML, without CSS or Fonts.</p>
                <p>The challenge in this project was to use the simple stuff but still make the page look decent, <a href="https://www.w3schools.com/html/html_responsive.asp" target="_blank" title="HTML Responsive Web Design">responsive <i class="icon">open_in_new</i></a>, and follow coding and design conventions.</p>

                <h2>About me</h2>
                <p>I am working on this part of the content...</p>
                <p><a class="js-linkedin" href="https://www.linkedin.com/in/robert-sentes/" target="_blank" title="LinkedIn Profile of Robert Senteș">{% include "svg/logos/linkedin.svg" %} LinkedIn Profile <i class="icon">open_in_new</i></a></p>
                {#<p>I am from the last generation which grew up with no internet, just a fun fact. We were playing Prince of Persia on 486, but getting older we started hanging out in internet cafes and playing Starcraft. I knew from then that I will work with computers.</p> #}

            </div>
        </div>
    </div>

    <div class="window-main__code code code--animate freeze"></div>
    <div class="window-main__barcode barcode barcode--animate-3 barcode--medium freeze"></div>
</section>