<a href="#" id="design-inspiration" class="window-design-inspiration">

	<div class="window-design-inspiration__scene">
		<input type="radio" class="window-design-inspiration__dot" name="inspiration" value="2" id="inspiration-1">
		<input type="radio" class="window-design-inspiration__dot" name="inspiration" value="1" id="inspiration-2">
		<input type="radio" class="window-design-inspiration__dot" name="inspiration" value="0" id="inspiration-3" checked="checked">
		<input type="radio" class="window-design-inspiration__dot" name="inspiration" value="-1" id="inspiration-4">
		<input type="radio" class="window-design-inspiration__dot" name="inspiration" value="-2" id="inspiration-5">

		<div class="window-design-inspiration__carousel">

			<label class="window-design-inspiration-1 window" for="inspiration-1">
				<div class="window-design-inspiration__slide">
					{% include "svg/parts/window-2.svg" %}
					<div class="window-design-inspiration-1__content">
						<div class="window__content">
							<div class="window-design-inspiration__image">
								<picture title="Amoretti files scene from From Ghost in the Shell">
									<source srcset="img/ghost_in_the_shell_amoretti.webp" type="image/webp">
									<img src="img/ghost_in_the_shell_amoretti.jpg" alt="Amoretti files scene from From Ghost in the Shell" loading="lazy" width="400" height="210"/>
								</picture>
							</div>
						</div>
					</div>
				</div>
			</label>

			<label class="window-design-inspiration-2 window" for="inspiration-2">
				<div class="window-design-inspiration__slide">
					{% include "svg/parts/window-3.svg" %}
					<div class="window-design-inspiration-2__content">
						<div class="window__content">
							<div class="window-design-inspiration__image">
								<video autoplay loop muted playsinline title="Animation of virtual space in Ghost in the Shell">
									<source src="img/ghost_in_the_shell_virtual_space.webm" type="video/webm">
									<source src="img/ghost_in_the_shell_virtual_space.mp4" type="video/mp4">
									<img src="img/ghost_in_the_shell_virtual_space.gif" alt="Animation of virtual space in Ghost in the Shell" loading="lazy"/>
								</video>
							</div>
						</div>
					</div>
				</div>
			</label>

			<label class="window-design-inspiration-3 window" for="inspiration-3">
				<div class="window-design-inspiration__slide">
					{% include "svg/parts/window-4.svg" %}
					<div class="window-design-inspiration-3__content">
						<div class="window__content">
							<div class="window-design-inspiration__image">
								<video autoplay loop muted playsinline title="Ghost in the Shell Movie Intro Animation">
									<source src="img/ghost_in_the_shell_intro.webm" type="video/webm">
									<source src="img/ghost_in_the_shell_intro.mp4" type="video/mp4">
									<img src="img/ghost_in_the_shell_intro.gif" alt="Ghost in the Shell Movie Intro Animation" loading="lazy"/>
								</video>
							</div>
						</div>
					</div>
				</div>
			</label>

			<label class="window-design-inspiration-4 window" for="inspiration-4">
				<div class="window-design-inspiration__slide">
					{% include "svg/parts/window-5.svg" %}
					<div class="window-design-inspiration-4__content">
						<div class="window__content">
							<div class="window-design-inspiration__image">
								<video autoplay loop muted playsinline title="Laughing Man scene From Ghost in the Shell">
									<source src="img/ghost_in_the_shell_laughing_man.webm" type="video/webm">
									<source src="img/ghost_in_the_shell_laughing_man.mp4" type="video/mp4">
									<img src="img/ghost_in_the_shell_laughing_man.gif" alt="Laughing Man scene From Ghost in the Shell" loading="lazy"/>
								</video>
							</div>
						</div>
					</div>
				</div>
			</label>

			<label class="window-design-inspiration-5 window" for="inspiration-5">
				<div class="window-design-inspiration__slide">
					{% include "svg/parts/window-6.svg" %}
					<div class="window-design-inspiration-5__content">
						<div class="window__content">
							<div class="window-design-inspiration__image">
								<picture title="Communication window with Batou From Ghost in the Shell">
									<source srcset="img/ghost_in_the_shell_on_call_bato.webp" type="image/webp">
									<img src="img/ghost_in_the_shell_on_call_bato.jpg" alt="Communication window with Batou From Ghost in the Shell" loading="lazy" width="236" height="210"/>
								</picture>
							</div>
						</div>
					</div>
				</div>
			</label>

		</div>
	</div>
</a>
